@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
}

:root {
	--Primaty-color: #141414;
	--Secundary-color: #00fafafa; 
	--Color-font: #ffff;
}

body {
	background-color: var(--Primaty-color);
}

/* titulo */
.header {	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding: 40px;
	gap: 100px;
}

/* titulo -> menu  */
.Menu-bar{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: var(--Color-font);
	cursor: pointer;
	
}

/* img do carrinho */
.header > img{
	width: 50px;
	height: 50px;
	cursor: pointer;
}

/* main */

main{
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 80px 80px 0px 80px;
}

/* main > text-apresentation*/

.text-apresentation{
	width: 850px;
	height: 522px;

	display: flex;
	flex-direction: column;
	
	margin-top: 60px;
	margin-left: 60px;

}

.block-text-one{
	width: 700px;
	height: 180px;
	padding-top: 10px;
	padding-left: 20px;
	margin-top: 20px;
	background-color: var(--Secundary-color);
}
.block-text-one > h2{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 66px;
	text-align: left;
	margin: auto;
}

/*------------------------------*/

.block-text-two{
	width: 850px;
	height: 126px;
	margin-top: 10px;
}

.block-text-two > p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 38px;
	margin: 0px 0px 0px 25px;
	color: var(--Color-font);
}

/* button shop now */


.btn-shop-now > a{
	width: 230px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	gap: 30px;
	background-color: var(--Secundary-color);
	text-decoration: none;
	color:inherit;
}

.btn-shop-now > a > p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 18px;
	
}

.btn-shop-now > a > img {
	width: 30px;
	height: 30px;
}

/* SOCIAL NETWORKS */


.social-networks{
	width: 100px;
	height: 50px;
	
	display: flex;
	margin-top: 10px;	
}

.social-networks > a > img{
	width: 50px;
	height: 50px;
}

/* BANNER NOTEBOOK ALIENWARE*/

.imgBanner {
	width: 750px;
	height: 600px;

	display: flex;
	flex-direction: column;

	align-items: center;

	margin-top: -80px;
	margin-left: 100px;
	
}
.imgBanner > img{
	width: 650px;
	height: 500px;
}



