@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
}

:root {
	--Primaty-color: #141414;
	--Secundary-color: #00fafafa; 
	--Color-font: #ffff;
}

html{
	background-color: var(--Primaty-color);
}